<%= form_for [:admin, resource] do |f| %>
  <div data-hook="">

    <div class="row">
      <div class="col-md-12">
        <h2>Company settings</h2>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :webshop_name %>
          <%= f.text_field :webshop_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :webshop_id %>
          <%= f.text_field :webshop_id, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :company_code %>
          <%= f.text_field :company_code, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Product settings</h2>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :color_option_type %>
          <%= f.collection_select :color_option_type, Spree::OptionType.all, :name, :presentation, {}, class: 'select2' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :size_option_type %>
          <%= f.collection_select :size_option_type, Spree::OptionType.all, :name, :presentation, {}, class: 'select2' %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Global settings</h2>
        <small>These setting can be overriden by product properties. See the promese prototype for possible options</small>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :supplier_name %>
          <%= f.text_field :supplier_name, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :supplier_code %>
          <%= f.text_field :supplier_code, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :country_of_origin %>
          <%= f.text_field :country_of_origin, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :storage_type %>
          <%= f.text_field :storage_type, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :products_fragile do %>
            <%= f.check_box :products_fragile %>
            <%= Spree.t(:products_fragile) %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :log_datafiles do %>
            <%= f.check_box :log_datafiles %>
            <%= Spree.t(:log_datafiles) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Connection configuration</h2>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :promese_endpoint %>
          <%= f.text_field :promese_endpoint, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :export_orders_from %>
          <%= f.text_field :export_orders_from, value: datepicker_field_value(resource.export_orders_from), class: 'datepicker form-control' %>
        </div>
      </div>
    </div>

  </div>

  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>
